<a href="https://colab.research.google.com/github/anishrashinkar-26/BML/blob/main/BML_exp_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Step 1: Import required libraries
import sqlite3
import pandas as pd

# Step 2: Create a sample SQLite database and table
conn = sqlite3.connect('sample.db')
cursor = conn.cursor()

# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    marks INTEGER
)
''')

# Insert sample data
cursor.executemany('''
INSERT INTO students (name, marks) VALUES (?, ?)
''', [('Alice', 85), ('Bob', 78), ('Charlie', 92)])

conn.commit()

# Step 3: Extract data from the database
df = pd.read_sql_query("SELECT * FROM students", conn)

# Step 4: Display the data
print("Extracted Data:")
print(df)

# Close the connection
conn.close()

Extracted Data:
   id     name  marks
0   1    Alice     85
1   2      Bob     78
2   3  Charlie     92